menu "KernelSU"

config KSU
	tristate "KernelSU function support"
	depends on KPROBES
	default y
	help
	  Enable kernel-level root privileges on Android System.
	  Requires CONFIG_KPROBES for kernel hooking support.
	  To compile as a module, choose M here: the
	  module will be called kernelsu.

config KSU_DEBUG
	bool "KernelSU debug mode"
	depends on KSU
	default n
	help
	  Enable KernelSU debug mode.

menu "KernelSU - SUSFS"

config KSU_SUSFS
	tristate "KernelSU addon - SUSFS"
	depends on KSU
	default y
	help
	  Patch and enable SUSFS integration in kernel with KernelSU.

config KSU_SUSFS_SUS_PATH
	tristate "Enable to hide suspicious path"
	depends on KSU_SUSFS
	default y

config KSU_SUSFS_SUS_MOUNT
	tristate "Enable to hide suspicious mounts"
	depends on KSU_SUSFS
	default y

config KSU_SUSFS_SUS_MOUNT_MNT_ID_REORDER
	tristate "Enable mount id reorder in mountinfo (experimental)"
	depends on KSU_SUSFS_SUS_MOUNT
	default n

config KSU_SUSFS_SUS_KSTAT
	tristate "Enable to spoof suspicious kstat"
	depends on KSU_SUSFS
	default y

config KSU_SUSFS_SUS_MAPS
	tristate "Enable to spoof suspicious maps"
	depends on KSU_SUSFS
	default y

config KSU_SUSFS_SUS_PROC_FD_LINK
	tristate "Enable to spoof suspicious proc fd links (experimental)"
	depends on KSU_SUSFS
	default n

config KSU_SUSFS_SUS_MEMFD
	tristate "Enable to hide/spoof suspicious memfd (experimental)"
	depends on KSU_SUSFS
	default n

config KSU_SUSFS_TRY_UMOUNT
	tristate "Enable to use ksu try_umount"
	depends on KSU_SUSFS
	default y

config KSU_SUSFS_SPOOF_UNAME
	tristate "Enable to spoof uname"
	depends on KSU_SUSFS
	default y

config KSU_SUSFS_ENABLE_LOG
	tristate "Enable SUSFS logging"
	depends on KSU_SUSFS
	default y

endmenu

endmenu
